.card {
    width: 300px;
    height: 150px;
    background: rgb(61, 100, 112);
    transition: height 1s;
}

p {
    opacity: 0;
    transition: opacity 1s;
}

.card:hover {
    height: 300px;
}

.card:hover p {
    opacity: 1;
}