.profile-card{
    width:250px;
    text-align:center;
    padding:20px;
    transition:box-shadow 1.5s;
}

.profile-card img{
    width:150px;
    transition:transform 0.5s;
}

.profile-card h2{
    transition:color 1s;
}

.profile-card:hover{
    box-shadow:0 0 20px gray;
}

.profile-card:hover img{
    transform:scale(1.15);
}

.profile-card:hover h2{
    color:darkgreen;
}