#div {
    width: 150px;
    height: 150px;
    background-color: blue;
    animation-name: move;
    animation-duration: 4s;

}

@keyframes move{
    from {
        width: 150px;
        height: 150px;
        background-color: blue;
    }

    to {
        width: 200px;
        height: 200px;
        background-color: purple;
        border-radius: 40%;
        transform: translate(200px, 100px) rotate(360deg);
    }
}