#div {
    width: 100px;
    height: 100px;
    background-color: blue;
    animation-name: move;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes move{
    from {
        
    }

    to {
        background-color: red;
        transform: translateY(200px) rotate(90deg) scale(1.5);
        border-radius: 50px;
    }
}