@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

/* ეს არის parent */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* child */
.card {
  background-color: #1f1f1f;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
}

.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.location {
  color: #c4f82a;
  margin: 5px 0 15px;
}

.bio {
  color: #b3b3b3;
  font-size: 13px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  background-color: #333;
  color: white;
  padding: 12px;
  border-radius: 8px;
  margin: 10px 0;
  text-decoration: none;
}

.btn:hover {
  background-color: #c4f82a;
  color: black;
}