@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    font-family: "DM Sans", sans-serif;
}

#parent {
    width: 1030px;
    height: 813px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 25px;
}

.same {
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 10px black;
}

.same img {
    width: 100%;
}

.skin {
    background: #faeee2;
    grid-row: 1 / 6;
    grid-column: 1 / span 1;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}

h2{
    font-weight: 500;
}

.skin h2 {
    font-size: 36px;
    line-height: 36px;
}

.skin span {
    color: #7551dc;
    font-style: italic;
}

.fyellow {
    background: #ffcc69;
    grid-row: 6 / 11;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
}

.fyellow h2 {
    font-size: 34px;
    line-height: 34px;
}

.fpurple {
    background: #7551dc;
    color: white;
    grid-column: 2/4;
    grid-row: 1/5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    gap: 20px;
}

.fpurple h1 {
    font-size: 58px;
    line-height: 60px;
    font-weight: 500;
}

.fpurple span {
    color: #ffcc69;
}

.fpurple img {
    width: 190px;
}

.fpurple p,
.lightpurple p,
.swhite p {
    font-size: 18px;
}

.fwhite {
    background: white;
    grid-row: 5/8;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.fwhite h2 {
    font-size: 30px;
    line-height: 30px;
}

.syellow {
    background: #ffcc69;
    grid-row: 5/8;
    flex-direction: column;
    padding: 20px;
}

.syellow h2 {
    font-size: 30px;
}

.lightpurple {
    background: #dacffc;
    grid-row: 1/8;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}

.lightpurple h2 {
    font-size: 32px;
    line-height: 32px;
}

.lightpurple p {
    line-height: 26px;
}

.swhite {
    background: white;
    grid-row: 8/11;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    gap: 12px;
}

.swhite h1 {
    font-size: 58px;
    font-weight: 500;
}

.swhite img {
    width: 80%;
}

.spurple {
    background: #7551dc;
    color: white;
    grid-column: 3/5;
    grid-row: 8/11;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}

.spurple img {
    width: 45%;
}

.spurple h2 {
    font-size: 34px;
    line-height: 34px;
}