/* 1 */
p{
    text-decoration-line:  overline line-through underline;
    text-decoration-style: wavy;
    text-decoration-color: red ;
}


/* 2 */
h1{
    text-decoration-line: line-through;
    text-decoration-style: double;
    text-decoration-color: blue;
}

/* 3 */
h2{
    text-decoration-line: overline;
    text-decoration-style:dotted ;
    text-decoration-color: green;
}

/* 4 */
.first{
    text-transform: lowercase;
}

.second{
    text-transform: uppercase;
}

.third{
    text-transform: capitalize;
}