* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #222;
}

header {
    background: darkgreen;
    color: white;
    padding: 20px;
    position:sticky;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 28px;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background: yellow;
    color: black;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, rgb(10, 122, 47), darkgreen);
    color: white;
}

.hero h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 25px;
}

.hero button {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: white;
    color: green;
    font-weight: bold;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
    background: black;
    color: white;
}

.about {
    background: white;
    max-width: 1100px;
    margin: 60px auto;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.about h2 {
    color: green;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.box {
    width: 180px;
    background: #0a7a2f;
    color: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.box:hover {
    transform: scale(1.1);
    background: darkgreen;
}

.box h2 {
    font-size: 38px;
}

button:focus {
    outline: none;
    box-shadow: 0 0 10px yellow;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: darkgreen;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: green;
}

::selection {
    background: yellow;
    color: black;
}