* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f0f0f;
    color: white;
}

header{
    color: white;
    padding: 20px;
    position:sticky;
    top: 0;
}

nav {
    background-color: red;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 15px red;
}

nav h1 {
    font-size: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover {
    background: white;
    color: red;
    transform: scale(1.1);
}

section {
    width: 80%;
    margin: 30px auto;
    padding: 25px;
    background: #1c1c1c;
    border-radius: 15px;
    box-shadow: 0 0 20px red;
    transition: 0.3s;
    text-align: center;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px red;
}

h2 {
    color: red;
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    line-height: 1.8;
    text-align: center;
    color: white;
}

li:hover {
    color: red;
    transform: translateX(5px);
}

.about {
    border-left: 5px solid red;
}

.programs {
    border-left: 5px solid darkred;
}

.vision {
    border-left: 5px solid red;
}

.rules {
    border-left: 5px solid darkred;
}

.schedule {
    border-left: 5px solid red;
}

button:hover {
    background: white;
    color: red;
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

::selection {
    background: red;
    color: black;
}