@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: "Inter", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 100px;
}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}


ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: #4D4D4D;
    font-size: 17px;
    font-weight: 500
}


button{
    width: 133px;
    height: 36px;
    border: none;
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button img{
    width: 16px;
}

@media(max-width:1000px){
    header{
        padding: 21px 30px;
        width: 120px;
    }

    #maining{
        display: none;
    }
}