*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    width:680px;
    height:320px;
    background:#333;
    padding:10px;
    display:grid;
    gap:10px;

    grid-template-columns:100px 130px 220px 160px;
    grid-template-rows:55px 120px 90px;
}

.box{
    width:100%;
    height:100%;
}

.b1{
    background:#ff4338;
    grid-row:1 / span 2;
}

.b2{
    background:#39bcc7;
    grid-column:2 / span 2;
}

.b3{
    background:#d8ba70;
}

.b4{
    background:#d8ba70;
}

.b5{
    background:#e9e9e9;
}

.b6{
    background:#ff4338;
    grid-row:2 / span 2;
}

.b7{
    background:#ff4338;
    grid-column:2 / span 2;
}

.b8{
    background:#39bcc7;
}