.class {
    color: rgb(255, 255, 255);                
    width: 300px;                                  
    border: 2px solid rgb(0, 0, 0);   
    text-align: center;         
}


#id {
    color: #000000;
    background-color: rgb(255, 0, 0); 
}