#hello {
    color: rgb(0, 100, 0);         
    background-color: rgb(0, 0, 0);    
    font-size: 24px;              
    border: 5px solid rgb(26, 90, 28);      
    text-align: center;                    
}