body {
    background-image: url(https://t4.ftcdn.net/jpg/02/96/24/09/360_F_296240965_Vnrsnf4ODfHzJOXKMIH63YEsKCzXmOd7.jpg);

}

h1 {
    text-align: center;
    font-size: 48px;
    color: #b11226;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    text-align: justify;
}

main {
    padding: 20px;
}


h2 {
    font-size: 32px;
    color: black;
    text-align: center;
}

li,
strong {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
}