body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(120deg, rgb(255, 41, 41), black, white);
    color: #eee;

}

h1 {
    text-align: center;
    font-size: 48px;
    color: #b11226;
}

p {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: justify ;
}

main {
    padding: 20px;
}


h2 {
    font-size: 32px;
    color: #000000;
}

