body{
    background-color: rgb(76, 82, 95);
    background-image: url(https://img.freepik.com/free-photo/grunge-style-texture-background_1048-13276.jpg?semt=ais_hybrid&w=740&q=80);
    background-blend-mode: soft-light;
}

.headers {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
    margin-top: 80px;
    margin-bottom: -60px;
}

.topheader, .bottomheader {
    position: absolute;
    width: auto;
}

.topheader {
    font-family: Ballet;
    margin: 0;
    color: rgb(30, 32, 43);
    text-shadow: 1px 1px 10px rgba(37, 46, 63, 0.853);
    -webkit-text-stroke: 2px rgb(35, 36, 46);
}

.bottomheader {
    z-index: -1;
    opacity: 50%;
    font-size: 100px;
    font-family: "Castoro Titling", serif;
    font-weight: 600;
    margin: 60px 60px 60px 200px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 1px 1px 10px rgb(0, 0, 0), 1px 1px 20px rgba(0, 0, 0, 0.184)
}

h1 {
    font-family: "Rubik Burned", system-ui;
    font-size: 120px;
    font-weight: normal;
    width: fit-content;
    margin: auto;
    margin-top: 60px;
    text-align: center;
    transition: color 0.5s ease-in-out;
}

h1:hover {
    -webkit-text-stroke: 2px black;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}


h2 {
    font-family: "Girassol", serif;
    font-size: 80px;
    margin-top: 60px;
    text-align: center;
    color: transparent;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.623), 1px 1px 30px rgba(0, 0, 0, 0.184)
}


p {
    max-width: 500px;
    margin: 70px;
    font-family: "Cormorant Unicase", serif;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 4px 1px 10px rgb(0, 0, 0);
}

img {
    width: 300px;
    filter: grayscale(60%);
    margin: 10px;
}

.imgtxt {
    background: linear-gradient(rgba(128, 128, 128, 0.365), rgba(197, 196, 196, 0.817), rgba(128, 128, 128, 0.176));
    filter: brightness(80%);
    margin: 90px;
    border: 2px dashed rgba(31, 28, 57, 0.542);
    box-shadow: 1px 1px 30px rgba(24, 34, 60, 0.581), 1px 1px 40px rgba(0, 0, 0, 0.467);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgtxt2 {
    background: linear-gradient(rgba(128, 128, 128, 0), rgba(197, 196, 196, 0.817), rgba(128, 128, 128, 0));
    filter: brightness(80%);
    margin: 50px;
    padding-left: 90px;
    display: flex;
}

.imgtxt2 p{
    max-width: 1000px;
    font-size: 30px;
    font-family: "Beau Rivage", cursive;
    text-shadow: none;
}

.psychnote {
    max-width: 1000px;
    font-family: "Ballet", cursive;
    font-size: 40px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: -110px;
    text-shadow: 1px 1px 10px rgb(142, 141, 141);
}

.core{
    display: flex;
    margin: 90px;
    gap: 20px;
}

.corehdr{
    font-size: 40px;
    margin: -60px;
    text-shadow: 1px 1px 5px black;
}

.core p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 0 auto;
}

.pics{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    filter: grayscale(100%);
}

.pics img{
    width: 200px;
    box-shadow: 1px 1px 40px white;
}

.survnote {
    max-width: 1000px;
    font-family: "Ballet", cursive;
    font-size: 40px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: -110px;
    text-shadow: 1px 1px 10px rgb(52, 0, 0);
}

.conspnote {
    max-width: 1000px;
    font-family: "Ballet", cursive;
    font-size: 40px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-top: -110px;
    color: rgb(25, 27, 30);
    text-shadow: 1px 1px 10px rgb(67, 68, 75);
}

.rtn {
    margin-top: 70px;
    text-align: center;
}

.rtn a {
    text-decoration: none;
    font-family: Ballet;
    font-size: 60px;
    font-weight: normal;
    color: rgb(27, 28, 33);
    text-shadow: 1px 1px 10px rgb(21, 21, 26);
    transition: 0.5s ease-in-out;
}


.rtn a:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 10px rgb(0, 0, 0);
}