div {
    width: 100px;
    height: 100px;
    background: green;
    animation: move 5s ease-in infinite alternate;
}

@keyframes move{

    1% {
        border-radius: 10px;
        background: yellow;
        transform: scale(1.2) rotate(20deg);
    }

    2% {
        border-radius: 20px;
        background: red;
        transform: scale(1.5) rotate(50deg) translateY(100px);
    }

    3% {
        border-radius: 50px;
        background: blue;
        transform: scale(2) rotate(140deg) translateY(200px);
    }

    4% {
        border-radius: 50%;
        background: orange;
        transform: scale(-1.5) rotate(180deg) translateY(400px);
        box-shadow: 0 0 30px orange;
    }
}