.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    width: 700px;
    height: 250px;
    justify-content: center;
    align-content: center;
}

.container div{
    width: 100px;
    height: 100px;
    background-color: red;
    color: white;
    display: flex;
}

/* justify-content ჰორიზონტალურად გადაადგილებს მთელ Grid-ს,
როდესაც კონტეინერში თავისუფალი ადგილია. 

align-content ვერტიკალურად გადაადგილებს მთელ Grid-ს,
როდესაც კონტეინერში თავისუფალი ადგილია. */