.container2 {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    width: 500px;
    height: 250px;
    justify-items: center;
    align-items: center;
}

.container2 div {
    width: 60px;
    height: 60px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* justify-items თითოეულ ელემენტს ჰორიზონტალურად ათავსებს თავის უჯრაში.
align-items თითოეულ ელემენტს ვერტიკალურად ათავსებს თავის უჯრაში.*/
