.container1{
    display:grid;
    grid-template-columns:100px 100px 100px;
    width:700px;
    height:250px;
    justify-content:start;
    /* center */
    /* end */
}

.container1 div{
    background:red;
}

/* justify-content:start
მთელი Grid მარცხნივ დგება.

justify-content:center
მთელი Grid ცენტრში გადადის.

justify-content:end
მთელი Grid მარჯვნივ გადადის.  */
