.container{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px;
    height: 400px;
    gap: 10px;
    justify-items: center;
    align-items: start;
}

.container div{
    width: 60px;
    height: 40px;
    background-color: crimson;
    color: white;
    text-align: center;
    line-height: 40px;
}