ul {
    font-weight: bold;
    font-size: 18px;
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 0, 0);
    font-family: Verdana, sans-serif;
}


ol {
    font-weight: lighter;
    font-size: 20px;
    color: rgb(18, 35, 18);
    background-color: #e6ffe6;
    border: 2px solid rgb(42, 78, 42);
    font-family: Georgia, serif;
}