#h2{
    color: red;
    background-color: yellow;
    border: 3px solid green;
    font-size: 35px;
    text-align: right;
}

#h3{
    color: white;
    background-color: blue;
    border: 1px solid black;
    font-size: 30px;
    text-align: left;
}

#h4{
    color: green;
    background-color: pink;
    border: 5px solid red;
    font-size: 25px;
    text-align: center;
}

#h5{
    color: orange;
    background-color: black;
    border: 2px solid white;
    font-size: 20px;
    text-align: center;
}

#h6{
    color: purple;
    background-color: lightgreen;
    border: 4px solid blue;
    font-size: 15px;
    text-align: left;
}