@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Lexend Deca", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    width: 930px;
    height: 400px;
}

h1 {
    margin-left: 30px;
    font-family: "big shoulders", sans-serif;
    font-size: 32px;
    margin-bottom: 30px;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: "big shoulders", sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
    margin-left: 30px;
    color: hsla(0, 0%, 100%, 0.75);
}

button {
    border: none;
    font-size: 14px;
    border-radius: 25px;
    background-color: white;
    padding: 12px 25px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 30px;
}

img {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 60px;
}

.sedans {
    background-color: hsl(31, 77%, 52%);
    font-family: "Lexend Deca", sans-serif
}

.suvs {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
}


.sedans button {
    color: hsl(31, 77%, 52%);
}

.suvs button {
    color: hsl(184, 100%, 22%);
}

.luxury{
    color: hsl(179, 100%, 13%);
}


.parent div{
    height: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}