.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    flex-grow: 0;
}

.menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    flex-grow: 0;
}